$mainBg: #1b1b1a;

.App {
  text-align: center;
}

* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  .app {
    background-color: $mainBg;
    width: 100vw;
  }

  .image {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;

    .cards {
      width: 19%;
      // margin-left: 5.45em;
      padding: 2em;

      p {
        color: white;
      }
    }
  }

  .pickle {
   display: flex;
   flex-wrap: wrap;
    background-color: rgb(65, 66, 62);
    align-items: center;
    justify-content: center;
    
        .cards-pick{
      display: flex;
      width: 40vw;
      margin: 3em;
      background-color: rgb(115, 133, 123);
      border-radius: 30px;
    }
    section{
      padding: 2em;
      width: 50vw;
    }
    span{
      font-size: 2em;
    }
    .red{
      color: rgb(248, 45, 45);
    }
    .green{
      color: rgb(25, 230, 25);
    }
    .grey{
      color: rgb(63, 60, 60);
    }
  }

  .img-pi {
    width: 15em;
    border-radius: 30px;
  }
}

.books{
  background-color: #1b1b1a;
}
.cards-book{
  display: flex;
  color: white;
  padding: 2em;
  .cover{
    width: 9em;
  }
  .button-div{
    padding: 2em;
  }
}